<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Details</title>
</head>
<body>
<header>
    <h1 th:text="${author.getName()} + ' ' + ${author.getSurname()}"></h1>
</header>
<section>
    <h2 th:text="${author.getBiography()}"></h2>
    <h2>Books:</h2>
    <ul>
        <li th:each="book : ${author.getBooks()}"
            th:text="${book.getTitle()} + ' ' + ${book.getYear()}">
        </li>
    </ul>
</section>

</body>
</html>